body{
    margin: 0;
}
@media (min-width: 992px){
    #div1{
        height: 25vh;
        width: 100%;
        background-color: #824e51;
        position: relative;
    }
    #divX{
        position: absolute;
        height: 40%;
        background-color: #dbd1bd;
        top: 50%;
        transform: translate(0, -50%);
        left: 5%;
        width: 400px;
        text-align: right;
    }
    #centralContainer{
        position: relative;
        height: 50vh;
        width: 100%;
    }
    #div235{
        width: 70%;
        position: relative;
        height: 100%;
    }
    #div4{
        width: 30%;
        height: 100%;
        top: 0;
        position: absolute;
        left: 70%;
        background-color: #694c4e;
        padding: 10px;
        text-align: right;
    }
    #div2{
        width: 30%;
        height: 80%;
        background-color: #694c4e;
        text-align: right;
        padding: 10px;
    }
    #div3{
        width: 70%;
        height: 80%;
        position: absolute;
        top: 0;
        left: 30%;
        padding: 10px;
        text-align: right;
        background-color: #9c9191;
    }
    #div5{
        height: 20%;
        width: 100%;
        position: absolute;
        top: 80%;
        left: 0;
        padding: 10px;
        background-color:#dbd1bd;
    }
    #div6{
        height: 25vh;
        background-color: #824e51;
        position: relative;
    }
    #divY{
        position: absolute;
        height: 40%;
        background-color: #dbd1bd;
        top: 50%;
        transform: translate(0, -50%);
        left: 5%;
        width: 400px;
    }
    #nav-div{
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translate(0, -50%);
    }
    #divtext6{
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        width: 50%;
        right: 5%;
        text-align: right;
        padding-right: 10px;
    }
    
}
@media (max-width: 992px){
    #div1{
        height: 30vh;
        width: 100%;
        background-color: #824e51;
        position: relative;
    }
    #divX{
        position: absolute;
        height: 70px;
        background-color: #dbd1bd;
        top: 10%;
        transform: translate(-50%, 0);
        left: 50%;
        width: 50%;
        text-align: right;
    }
    #nav-div{
        position: absolute;
        transform: translate(-50%, 0);
        left: 50%;
        top: 55%;
        
    }
    #div2{
        font-size: small;
        background-color: #694c4e;
        text-align: right;
        padding: 10px;
    }
    #div3{
        font-size: small;
        padding: 10px;
        text-align: right;
        background-color: #9c9191;
    }
    #div4{
        font-size: small;
        background-color: #694c4e;
        padding: 10px;
        text-align: right;
    }
    #div5{
        font-size: small;
        padding: 10px;
        background-color:#dbd1bd;
    }
    #div6{
        min-height: 40vh;
        width: 100%;
        background-color: #824e51;
        position: relative;
    }
    #divY{
        position: absolute;
        height: 70px;
        background-color: #dbd1bd;
        top: 10%;
        transform: translate(-50%, 0);
        left: 50%;
        width: 50%;
    }
    #divtext6{
        font-size: small;
        position: absolute;
        top: 50%;
        text-align: center;
        
    }
}
#textX{
    margin-right: 20px;
    color:#694c4e;
    }
    #text2, #text3, #text4{
        color: white;
    }
    #text5{
        color: #694c4e;
    }
    #textY{
        color: #694c4e;
        margin-left: 20px;
    }
    
    #text6{
        color: white;
    }