body { 
    display: grid;
    grid-template-areas: 
      "div1 div1"
      "div235 div4"
      "div6 div6";
    grid-template-rows: 25% 50% 25%;
    grid-template-columns: 70% 30%;
    grid-gap: 0px;
    height: 100vh;
    margin: 0;
    }
#div1{
    padding-left: 5%;
    padding-right: 5%;
    background-color: #469189;
    grid-area: div1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items:center;

}    
#div235{
    grid-area: div235;
    display: grid;
    grid-template-areas: 
      "div2 div3"
      "div5 div5";
    grid-template-rows: 80% 20%;
    grid-template-columns: 30% 70%;
    grid-gap: 0px;
    height: 100%;
    margin: 0;
}
#div4{
    background-color: #aab5b4;
    grid-area: div4;
    text-align: right;
    padding: 10px;
}
#div6{
    padding-left: 5%;
    padding-right: 5%;
    background-color: #469189;
    grid-area: div6;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items:center;
    height: 100%;
}
#div2{
    background-color: #aab5b4;
    grid-area: div2;
    text-align: right;
    padding: 10px;
}
#div3{
    background-color: #5fada6;
    grid-area: div3;
    text-align: right;
    padding: 10px;
}
#div5{
    background-color: #526664;
    grid-area: div5;
    padding: 10px;
}
#divX{
    background-color: white;
    width: 400px;
    height: 40%;
    text-align: right;

}
#divY{
    background-color: white;
    width: 400px;
    height: 40%;

}
#divT6{
    height: 40%;
    text-align: right;
}

#textX{
margin-right: 20px;
 color: #526664;
 }
#text2, #text4{
    color:#526664;
 }
#text5{
    color:white;
}
 #textY{
    color: #526664;
    margin-left: 20px;
}

#text3{
    color:white;
}
#text6{
    color: white;
}
#nav-div{
    display: grid;
   justify-content: right;
}
